{% extends "layout.html" %}

{% block title %}
    Calculator
{% endblock %}

{% block main %}
    <div>
        <h1>APV Calculator</h1>
        <form action="/apv" method="post">
            <div class="mb-3 d-flex justify-content-center align-items-center">
                <select autocomplete="off" class="form-control w-auto me-2" name="sex">
                    <option disabled selected value="">Sex</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <select autocomplete="off" class="form-control w-auto me-2" name="anb">
                    <option disabled selected value="">Age Next Birthday</option>
                    {% for age in range(100) %}
                        <option value="{{ age }}">{{ age }}</option>
                    {% endfor %}
                </select>
                <select autocomplete="off" class="form-control w-auto me-2" name="term">
                    <option disabled selected value="">Term duration</option>
                    {% for duration in range(100) %}
                        <option value="{{ duration + 1 }}">{{ duration + 1 }}</option>
                    {% endfor %}
                </select>
                <select autocomplete="off" class="form-control w-auto me-2" name="year">
                    <option disabled selected value="">Life Table ref. year</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                <input autocomplete="off" autofocus class="form-control w-auto me-2" name="premium" placeholder="Yearly Premium" type="text">
                <input autocomplete="off" class="form-control w-auto me-2" name="benefit" placeholder="Death Benefit" type="text">
                <input autocomplete="off" class="form-control w-auto me-2" name="discount" placeholder="Discount Rate" type="text">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div>{{ error_msg }}</div>

    <div>
        <h3>Term Life results</h3>
        <div>
            The Actuarial Present Value of this plan is {{ '$' + '%.f' % val.apv }},
            the present value of the premiums paid is {{ '$' + '%.f' % val.ppv }}.
        </div>
        <div>
            The APV to PPV ratio is: {{ '%.2f' % (val.apv / val.ppv) }} *
        </div>
        <div>
            * The higher the ratio, the better the insurance plan
        </div>
    </div>

    {% if table and val %}
    <div>
        <h4>Save this plan for comparison?</h4>
        <form id="saveplan">
            <input type="hidden" id="sterm" value="{{ request.form.get('term') }}">
            <input autocomplete="off" autofocus class="form-control w-auto me-2" name="plan_name" placeholder="Plan Name" type="text">
            <button class="btn btn-primary" type="submit">Save this plan</button>
        </form>
    </div>
    {% endif %}

    <script>
        input async javascript for saving func call
    </script>

    <div class="mb-3 d-flex justify-content-center align-items-center">
        <table class="table table-bordered" style="width: 130%;">
            <thead>
                <tr>
                    <th style="width: 10%;">year</th>
                    <th style="width: 10%;">sex</th>
                    <th style="width: 10%;">age_x</th>
                    <th style="width: 10%;">qx</th>
                    <th style="width: 11%;">lx</th>
                    <th style="width: 10%;">dx</th>
                    <th style="width: 10%;">ex</th>
                    <th style="width: 10%;">P(death: x-x+1)</th>
                    <th style="width: 10%;">P(live: x-x+1)</th>
                    <th style="width: 10%;">P(live til x+1)</th>
                    <th style="width: 10%;">Expected benefit</th>
                    <th style="width: 11%;">PV(E(benefit))</th>
                    <th style="width: 10%;">Premium</th>
                    <th style="width: 10%;">PV(Premium)</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                        <td>{{ row.year }}</td>
                        <td>{{ row.sex }}</td>
                        <td>{{ row.age_x }}</td>
                        <td>{{ '%.6f' % row.qx }}</td>
                        <td>{{ row.lx }}</td>
                        <td>{{ row.dx }}</td>
                        <td>{{ row.ex }}</td>
                        <td>{{ '%.6f' % row.Px_death }}</td>
                        <td>{{ '%.6f' % row.Px_survive }}</td>
                        <td>{{ '%.6f' % row.Px1_Cum_survive }}</td>
                        <td>{{ '$' + '%.2f' % row.E_benefit }}</td>
                        <td>{{ '$' + '%.2f' % row.EPV_benefit }}</td>
                        <td>{{ '$' + '%.2f' % row.Premium}}</td>
                        <td>{{ '$' + '%.2f' % row.PV_premium }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}