{% extends "layout.html" %}

{% block title %}
    Comparison
{% endblock %}

{% block main %}
    <div class="mx-auto text-justify text-center" style="width: 65%;">
        <h1>Compare between all the plans you had saved</h1>
        <p>
            Reminder that while the key metric to compare on is the APV:PPV ratio, 
            you will need to consider other metrics too to determine a plan's suitability
            to your needs. E.g. if you can comfortably afford the premiums, or if the 
            term matches your liability period.
        </p>
    </div>
    <p></p>

    <div class="mb-3 d-flex justify-content-center align-items-center">
        <table class="table table-bordered" style="width: 90%;">
            <thead>
                <tr>
                    <th style="width: 10%;">Plan Name</th>
                    <th style="width: 10%;">Life table year</th>
                    <th style="width: 10%;">sex</th>
                    <th style="width: 10%;">Age next birthday</th>
                    <th style="width: 10%;">Term (years)</th>
                    <th style="width: 11%;">Death benefit</th>
                    <th style="width: 10%;">Yearly premium</th>
                    <th style="width: 10%;">Discount rate</th>
                    <th style="width: 10%;">APV</th>
                    <th style="width: 10%;">PPV</th>
                    <th style="width: 10%; color:orangered;">APV:PPV ratio</th>
                </tr>
            </thead>
            <tbody>
                {% for row in plans %}
                    <tr>
                        <td>{{ row.plan }}</td>
                        <td>{{ row.year }}</td>
                        <td>{{ row.sex }}</td>
                        <td>{{ row.anb }}</td>
                        <td>{{ row.term }}</td>
                        <td>{{ '$' + '%.2f' % row.benefit }}</td>
                        <td>{{ '$' + '%.2f' % row.premium }}</td>
                        <td>{{ row.discount }}</td>
                        <td>{{ '$' + '%.2f' % row.apv }}</td>
                        <td>{{ '$' + '%.2f' % row.ppv }}</td>
                        <td>{{ '%.2f' % row.ratio }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}